// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$golden: #AB9562;
$goldenhover:#89774F;
$blue: #8783D1;
$bluehover: #706dad;
$bluetest: #2E1760;
