<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/antonioist/image/upload/v1605573665/the-palm-962785_1920_pdm8rp.jpg);">
  <div class="container">
    <%= cl_image_tag("logo-starloghty_hwhwgn_ncxhck", class: "logo-starlight")%>
    <p>Manage your hotel in an easy and intuitive way</p>
    <%= link_to "Get Started!", hotels_path, class: "button"  %>
  </div>
</div>
