<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/antonioist/image/upload/v1606194263/085CE83A-CA71-4094-ACC3-7877D8A11033_odgeqe.jpg);">
  <div class="container">
    <p class="title-banner">Powermouse</p>
    <p class="banner-frase">Maneja tu hotel en una forma facil e intuitiva</p>
    <%= link_to "Empecemos!", hotels_path, class: "button"  %>
  </div>
</div>
