<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/antonioist/image/upload/v1605573665/the-palm-962785_1920_pdm8rp.jpg);">
  <div class="container">
    <p class="title-banner">Powermouse</p>
    <p>Maneja tu hotel en una forma facil e intuitiva</p>
    <%= link_to "Get Started!", hotels_path, class: "button"  %>
  </div>
</div>
