<div class="footer">
  <div class="footer-copyright">
    <p class="footer-powered">Powered by <span class="footer-powermouse">Powermouse</span></p>
  </div>
  <div class="footer-email">
    <a href="mailto:info@powermouse.co">
      <p class="footer-p-email"><i class="fa fa-envelope" aria-hidden="true"> info@powermouse.co</i></p>
    </a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

</div>
