.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: 10vh;
  .navbar-frase {
    margin: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 56px;
}

.navbar-powermouse {
  font-family: 'Black Ops One', cursive;
  text-transform: uppercase;
}
