<% @hotels.each do |hotel| %>
  <p><%= hotel.name %></p>
  <p><%= hotel.address %></p>
  <p><%= hotel.phone_number %></p>
  <%#= link_to "here", hotel_room_categories_path(hotel) %>
  <%= link_to "here", hotel_path(hotel) %>
<% end %>
