<p> <%= @hotel.name %> </p>
<% @room_categories.each do |room_category| %>
  <p><%= room_category.category %></p>
  <p><%= room_category.momento %></p>
  <%= link_to "here", hotel_rooms_path(@hotel)  %>
<% end %>
